.LeaderContainer {
    width: 100%;
    height: fit-content;
    overflow: hidden;

    padding-top: 200px;
    padding-bottom: 220px;

    background-color: #FFB000;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px;
}

.title {
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}

.leaderPosListing {
    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.leaderPosListingMobile {
    display: none;
}

.parallaxContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 50px;
}

.imageContainer {
    animation: float3D 5s ease-in-out infinite;
    overflow: hidden; /* Optional, in case of overflow */
    width: 640px;
    height: 440px;

    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

    border: solid rgb(136, 136, 136) 0.2px;
    /* border-radius: 10px; */
    background-color: rgb(252, 254, 239);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    border: solid black 1px;
}
.imageTitle {
    font-size: 80px;
    z-index: 1;
}

.paragraph {
    font-size: 22px;
    color: rgb(241, 241, 241);
    font-weight: normal; /* Ensures font is not bold */
    line-height: 1.6; /* Standard line height for readability */
}

@media (max-width: 1230px) {
    .title {
        font-size: 70px;
    }
    .parallaxContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;

    }

    .imageContainer {
        animation: float3D 5s ease-in-out infinite;
        overflow: hidden; /* Optional, in case of overflow */
        width: calc(99% - 10px);
        height: calc(30%);
        min-height: 200px;
    
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;

        margin-left: 30px;
    
        border: solid rgb(136, 136, 136) 0.2px;
        /* border-radius: 10px; */
        background-color: rgb(252, 254, 239);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image {
        height: calc(100% - 50px);
        width: calc(100% - 10px);
        border: solid black 1px;
    }
    .imageTitle {
        width: 100%;
        font-size: 40px;
        z-index: 1;
        color: white;
    }
}

@media (max-width: 750px) {
    .LeaderContainer {
        width: 100%;
        height: fit-content;
        overflow: hidden;
    
        padding-top: 150px;
        padding-bottom: 150px;
    
        background-color: #FFB000;
        color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0px;
    }

    .leaderPosListingMobile {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    
    .leaderPosListing {
        display: none;
    }

    .title {
        font-size: 40px;
    }

    .parallaxContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .imageContainer {
        animation: float3D 5s ease-in-out infinite;
        overflow: hidden; /* Optional, in case of overflow */
        width: calc(99% - 10px);
        height: calc(30%);
        min-height: 200px;
    
        padding-top: 20px;
        padding-bottom: 30px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 0px;
    
        border: solid rgb(136, 136, 136) 0.2px;
        border-radius: 10px;
        background-color: rgb(252, 254, 239);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image {
        height: calc(100% - 50px);
        width: calc(100% - 10px);
        border: solid black 1px;
    }
    .imageTitle {
        width: 100%;
        font-size: 40px;
        z-index: 1;
        color: white;
    }
    .paragraph {
        font-size: 18px;
        margin: 10vw;
        margin-top: 0px;
        color: rgb(241, 241, 241);
        font-weight: normal; /* Ensures font is not bold */
        line-height: 1.6; /* Standard line height for readability */
    }
}

@keyframes float3D {
    0%, 100% {
      transform: rotateY(-8deg);
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    }
    50% {
      transform: rotateY(6deg);
      box-shadow: -12px 12px 30px rgba(0, 0, 0, 0.5);
    }
  }
  