@import 'https://fonts.googleapis.com/css?family=Raleway';

.profileCard {
    border: 1px solid  white;
    padding: 20px;
    min-width: 300px; 
    box-shadow: 0 0 .5rem #babbbc;
    border-radius: 2.3%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', 'Microsoft JhengHei';
    text-align: left;
  }

  .profileCardExtraDetails {
    border: 1px solid  white;
    padding: 20px;
    min-width: 300px; 
    box-shadow: 0 0 .5rem #babbbc;
    border-radius: 2.3%;
    background: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', 'Microsoft JhengHei';
    text-align: left;
  }
  
  .srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  .ProfileSectionName {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    font-size: 23px;
    font-family: 'Raleway', 'Microsoft JhengHei';
  }
  
  .ProfileSectionMajor {
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    text-align: left;
    align-self: left;
    font-size: 14px;
    font-family: 'Raleway', 'Microsoft JhengHei';
  }

  .ProfileSectionContact {
    width: 100%;
    padding: 2px;
    padding-left: 5px;
    text-align: left;
    align-self: left; 
    font-size: 14px;
    font-family: 'Raleway', 'Microsoft JhengHei';
  }

  .ProfileSectionExtraDetails {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-self: center; 
    font-size: 14px;
    font-family: 'Raleway', 'Microsoft JhengHei';
  }

  /* Responsive styling */
  @media (max-width: 600px) {
    .profile-card {
      width: 80%; /* Full width on smaller screens */
    }
  }
  